*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.login_form{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 !important;
    margin-left: 244px !important;
    margin-top: 222px;
}

.form_content{
    width: 75%;
    padding: 21px;
}